html
    head
        title 오류
        link(rel="icon", href="/receipt/imgs/favicon.ico")
        link(rel="stylesheet", href="/receipt/css/main.css")
    body
        div.div-main
            img(src="/receipt/imgs/ic_receipt.png", alt="Receipt")
            h1 올바르지 않은 URL입니다. URL을 다시 한번 확인해 주세요.
            p=error